/*layout*/
nav {
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
  top: 0;
  background-color: #229954bb;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 5; }
  nav .menu {
    list-style: none;
    padding: 0;
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-top: 16px; }
    nav .menu li {
      display: inline-block;
      text-align: center; }
      nav .menu li a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.952);
        padding: 20px;
        display: block; }
        nav .menu li a:hover {
          background: #064621ce; }

/* esto es el nav */
footer {
  width: 100%;
  padding-bottom: 1px;
  background-color: #22995883;
  background-size: cover; }
  footer .container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto; }
    footer .container_footer .box__footer {
      display: flex;
      flex-direction: column;
      padding: 40px; }
      footer .container_footer .box__footer .terms {
        max-width: 350px;
        margin-top: 20px;
        font-weight: 500;
        color: black;
        font-size: 18px; }
      footer .container_footer .box__footer h2 {
        margin-bottom: 30px;
        color: black;
        font-weight: 700; }
      footer .container_footer .box__footer a {
        margin-top: 10px;
        color: black;
        font-weight: 600; }
        footer .container_footer .box__footer a:hover {
          opacity: 0.8;
          color: green; }
        footer .container_footer .box__footer a .fab {
          font-size: 20px; }
      footer .container_footer .box__footer .facebook:hover {
        color: #2956a3; }
      footer .container_footer .box__footer .Twitter:hover {
        color: #51aff8; }
      footer .container_footer .box__footer .linkedin:hover {
        color: #0076b8; }
      footer .container_footer .box__footer .Instagram:hover {
        color: #ce1312; }
  footer .box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px; }
    footer .box__copyright p {
      margin-top: 20px;
      color: black; }
    footer .box__copyright hr {
      border: none;
      height: 1px;
      background-color: black; }
    footer .box__copyright b {
      color: #1f1d1d; }
      footer .box__copyright b:hover {
        color: black; }

/* esto es el footer */
/* components */
.btn {
  background-color: #062e01; }
  .btn:hover {
    background-color: black; }
  .btn--enviar {
    height: 46px;
    width: 200px; }
  .btn--limpiar {
    height: 46px;
    width: 100px; }
    .btn--limpiar:hover {
      background-color: rgba(128, 128, 128, 0.562); }

body {
  margin: 0;
  background-color: black; }

/* Aca empieza el index */
.grid_container {
  display: grid;
  grid-template-columns: auto auto; }
  .grid_container img {
    display: grid;
    justify-content: start;
    width: 100%;
    height: 100%;
    object-fit: cover; }

section .parrafo, section .titulo_inicio {
  color: wheat;
  padding: 20px; }

section .titulo_inicio {
  display: flex;
  justify-content: center; }

/* Aca termina el index */
/* Aca empieza artistas html */
.artistas {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  justify-content: space-around;
  color: wheat; }
  .artistas .columna_artista {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .artistas .columna_artista h4 {
      color: wheat; }

/* Aca termina artistas html */
/* Aca empieza shows html */
.Titulos_show {
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite; }

.grids_fechas_shows {
  display: grid;
  color: white;
  padding: 10px;
  gap: 10px; }
  .grids_fechas_shows li {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    justify-content: space-around;
    align-items: center;
    grid-column-gap: 10px; }

/* Aca termina shows html */
/* Aca empieza galeria html------------------------------------------------------------------------------ */
.titulo_galeria {
  color: antiquewhite; }

.galeria_imagenes {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 7px; }
  .galeria_imagenes .galeria_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*esta propiedad sirve para que la imagen no se distorcione con respecto a su ancho*/
    transition: 0.7s; }
    .galeria_imagenes .galeria_img:hover {
      -webkit-transform: scale(1);
      transform: scale(1.05);
      overflow: hidden; }

/* Aca termina galeria html-------------------------------------------------------------------------------- */
/* Aca empieza contactos html */
h1 {
  color: white; }

.display-4 {
  color: black; }

.jumbotron {
  background-color: #229954bb; }

/* Aca termina contactos html */
/* Aca empieza el media mobile */
@media (max-width: 768px) {
  nav .menu {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-around; }
    nav .menu li a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.952);
      display: block;
      padding: 10px; }
  .body {
    padding: 0%;
    margin: 0%; }
  .grid_container {
    display: grid;
    grid-template-columns: auto; }
  .grid_container section img {
    display: grid;
    justify-content: start;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*esta propiedad sirve para que la imagen no se distorcione con respecto a su ancho*/ }
  .parrafo, section .titulo_inicio {
    color: wheat; }
  /* Aca empieza artistas html mobile */
  .artistas {
    display: grid;
    grid-template-columns: auto; }
  /* Aca termina artistas html mobile */
  /* Aca empieza galeria html mobile */
  .galeria_imagenes {
    display: grid;
    grid-template-columns: auto; }
  .galeria_img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  /* Aca termina galeria html mobile */ }

/* Aca termina el media mobile */
