@mixin size-btn($ancho, $alto) {
    height: $ancho;
    width: $alto;
}

.btn{
    background-color: rgb(6, 46, 1);
    
    &:hover{
        background-color: black;
    }
    &--enviar{
        margin-left: 15%;
        @include size-btn(46px, 200px);
    }
    &--limpiar{
        @include size-btn(46px,100px );
        &:hover{
            background-color: rgba(128, 128, 128, 0.562);
        }
    }
}

@media(max-width: 1218px) {
    .btn{
        background-color: rgb(6, 46, 1);
        &:hover{
            background-color: black;
        }
        &--enviar{
            margin-left: 10px;
            @include size-btn(46px, 200px);
        }
        &--limpiar{
            @include size-btn(46px,100px );
            &:hover{
                background-color: rgba(128, 128, 128, 0.562);
            }
        }
    }
}
@media(max-width: 970px) {
    .btn{
        background-color: rgb(6, 46, 1);
        &:hover{
            background-color: black;
        }
        &--enviar{
            margin-left: 0%;
            @include size-btn(46px, 100px);
        }
        &--limpiar{
            @include size-btn(46px,100px );
            &:hover{
                background-color: rgba(128, 128, 128, 0.562);
            }
        }
    }
}

@media(max-width: 767px) {
    .btn{
        background-color: rgb(6, 46, 1);
        &:hover{
            background-color: black;
        }
        &--enviar{
            margin-left: 10px;
            @include size-btn(46px, 200px);
        }
        &--limpiar{
            @include size-btn(46px,100px );
            &:hover{
                background-color: rgba(128, 128, 128, 0.562);
            }
        }
    }
}
@media(max-width: 365px) {
    .btn{
        background-color: rgb(6, 46, 1);
        &:hover{
            background-color: black;
        }
        &--enviar{
            margin-left: 10px;
            @include size-btn(46px, 100px);
        }
        &--limpiar{
            @include size-btn(46px,100px );
            &:hover{
                background-color: rgba(128, 128, 128, 0.562);
            }
        }
    }
}